.result {
  height: 60px;
  background-color: black;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align: right;
  color: white;
}

.calculator {
  max-width: 280px;
  margin: auto;
}

.keyboard {
  display: block;
  background-color: black;
}

.digit-button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: #505050;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  margin: 5px 5px 5px 5px;
}

.operation-button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: #FF9500;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  margin: 5px 5px 5px 5px;
}

.save-button {
  width: 270px;
  height: 60px;
  font-size: 30px;
  background-color: #FF9500;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  margin: 5px 5px 5px 5px;
}

.option-button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: #D4D4D2;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  margin: 5px 5px 5px 5px;
}